<template>


  <div class="col-lg-10 offset-lg-1 row" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; ">

    <div class="col-lg-8" id="searchbar" style="height: 50px; margin-top: 2%">
      <label for="searchbar">Search :
        <input type="text" id="searchbar" name="searchbar" v-model="search">
      </label>
    </div>

    <div class="col-lg-4">
      <div class="col-lg-12">
        <button class="btn btn-primary" v-on:click="open_filter_menu">Author</button>
        <button class="btn btn-primary" v-if="current_author !== '' "  v-on:click="cancel_author_menu">Clear filter</button>
      </div>
     <div class="col-lg-8 offset-lg-2">
        {{ current_author }}
      </div>
    </div>
  </div>


  <div class="col-lg-10 offset-lg-1 row"
       style="border: 1px solid black; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; margin-top: 2%; margin-bottom: 10%;  max-height: 400px; overflow: auto">
    <table class="table" id="main_table">
      <thead style="position: sticky;top: 0; background-color: black; color: white;" class="thead-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Category</th>
        <th scope="col">Rating</th>
        <th scope="col" class="text-center">Actions</th>
      </tr>
      </thead>
      <tbody>
      <SingleItem v-for="item in items"
                  v-bind:key="item.title"
                  @single_delete="single_delete"
                  @single_update="single_update"
                  :item='item'
                  :search='search'
                  :auth="current_author"/>
      </tbody>
    </table>

    <div class="col-lg-4" id="author_list_menu" v-if="this.filter_list">
      <div v-for="auth in authorList" v-bind:key="auth">

        <span v-on:click="select_current_auth(auth)">
          {{ auth }}
        </span>

      </div>
    </div>

    <PopupModal :message="popup_message" :popup_title="popup_title"/>
  </div>


</template>

<script>

import SingleItem from "@/components/Item";
import PopupModal from "@/components/PopupModal";

export default {
  name: 'ItemList',
  components: {
    SingleItem,
    PopupModal
  },
  data() {
    return {
      items: [],
      search: '',
      authorList: [],
      current_author: '',
      filter_list: false,
      popup_message: '',
      popup_title:''
    }
  },
  mounted() {
    fetch("http://127.0.0.117:8080/book")
        .then((response) => response.json())
        // server status test 200 ? good : bad
        .then((data) => {
          this.items = data;
        });
    fetch("http://127.0.0.117:8080/author")
        .then((response) => response.json())
        // server status test 200 ? good : bad
        .then((data) => {
          // for (const element of data) {
          //   console.log(element);
          // }
          this.authorList = data;
        });

  },
  methods: {
    debug(obj) {
      console.log(obj)
    },
    single_delete(obj) {
      this.items = this.items.reduce((previous, current) => (current._id !== obj._id && previous.push(current), previous), [])
    },
    single_update(response) {
      console.log(response)
      if(response.status === 200) {
        this.popup_title = "SUCESS UPDATE"
        this.popup_message = response
        this.show_modal()
      }
      else if(response.status === 403){
        this.popup_title = "ERROR"
        this.popup_message = "ERROR"
        this.show_modal()
      }
      fetch("http://127.0.0.117:8080/book")
          .then((response) => response.json())
          .then((data) => {
            this.items = data;
          });
    },

    async show_modal() {
      let x = document.getElementById("popup");
      x.classList.add("show");
      setTimeout(
          function () {
            x.classList.remove("show")
          }, 10000)
    },

    reset_size() {
      if(this.filter_list) {
        document.getElementById("main_table").setAttribute("class","col-lg-8")
      }else {
        document.getElementById("main_table").setAttribute("class","col-lg-12")
      }
    },
    open_filter_menu() {
      this.filter_list = !this.filter_list
      this.reset_size()
    },
    select_current_auth(obj){
      this.current_author = obj
      this.filter_list = !this.filter_list
      this.reset_size()
    },
    cancel_author_menu(){
      this.current_author = ''
      this.reset_size()
    }
  }
}
</script>

<style scoped>
button {
  margin-left: 5%
}

::-webkit-scrollbar {
  display: none;
}

tr {
  margin-top: 20px;
}

#popup.show {
  display: block;
  /* animation properties */
  animation-name: show_popup_animation;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: linear;

}
#popup {
  opacity: 0;
  display: none;
  position: fixed;
  width: 300px;
  height: 150px;
  right: 8%;
  bottom: 4%;
  background-color: darkblue;
  color: white;
  z-index: 100;
  transition: 10s;

}

@keyframes show_popup_animation {
  0% {
    opacity: 0;
    bottom: 4%;
  }
  10%{opacity: .6;
    bottom: 8%;}
  20%{
    opacity: .8;
    bottom: 12%;
  }
  30%{opacity: 1;
    bottom: 15%;}
  40%{opacity: 1;
    bottom: 15%;}
  50%{
    opacity: 1;
    bottom: 15%;
  }
  60%{opacity: 1;
    bottom: 15%;}
  70%{opacity: .8;
    bottom: 15%;}
  80%{
    opacity: .5;
    bottom: 12%;
  }
  90%{opacity: .2;
    bottom: 8%;}
  /* You could think of as "step 2" */
  100% {
    opacity: 0;
    bottom: 4%;
  }
  /*from {*/
  /*    background-color: #ff7a59;*/
  /*    !*bot: 25%;*!*/
  /*    !*left: 80%;*!*/
  /*}*/
  /*to {*/
  /*    background-color: #33475b;*/
  /*    !*bot: 15%;*!*/
  /*    !*left: 80%;*!*/
  /*}*/
}
</style>