<template>

  <div id="popup">
    <h3> {{ popup_title }} </h3>
    <div>Old title : {{ message.old }}</div>
    <div>New Title : {{ message.new }}</div>
  </div>
</template>

<script>
export default {
  name: "PopupModal",
  props: ['message', 'popup_title'],
  methods: {
// https://codepen.io/SMLMRKHLMS/pen/rVYRLQ
  },
  data () {
    return {}
  },
}
</script>

<style scoped>

</style>
