<template>
  <Bar
      :chart-options="this.chartData"
      :chart-data="chartData"
      :chart-id="chartId"
      :dataset-id-key="datasetIdKey"
  />
</template>

<script>
import {Bar} from 'vue-chartjs'
import {Chart as ChartJS, Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale} from 'chart.js'

ChartJS.register(Title, Tooltip, Legend, BarElement, CategoryScale, LinearScale)

export default {
  name: 'BarChart',
  components: {Bar},
  props: {
    chartId: {
      type: String,
      default: 'bar-chart'
    },
    datasetIdKey: {
      type: String,
      default: 'label'
    },

  },
  mounted() {
    fetch("http://127.0.0.117:8080/rated_book")
        .then((response) => response.json())
        .then((data) => {
          this.items = data;
        })
        .then(() => {
          this.items.forEach(item => {
            this.label_author.push(item._id)
            let temp_avg = 0
            item.books.forEach( rate => {
              temp_avg += parseInt(rate)
            })
            this.number_book.push(temp_avg / item.books.length)
          })
          this.chartData = {
            labels: this.label_author,
            datasets: [{
              label: 'Average rate',
              backgroundColor: 'rgb(0, 99, 132)',
              borderColor: 'rgb(0, 99, 132)',
              data: this.number_book
            }]
          }
        })
  },
  data() {
    return {
      items: [],
      label_author: [],
      number_book: [],
      chartData: {},
      chartOptions: {
        responsive: true
      }
    }
  }
}
</script>

<style>

</style>