<template>

  <div id="statsContent" class="row">

    <h1>stats</h1>

    <div class="col-lg-4 offset-lg-1">
      <StatsAuthor/>
    </div>

    <div class="col-lg-4 offset-lg-1">
      <StatsRate/>
    </div>

  </div>

</template>

<script>


import StatsAuthor from "@/components/StatsAuthor"
import StatsRate from "@/components/StatsRate";

export default {
  name: "StatsPage",
  components: {
    StatsAuthor,
    StatsRate
  },
  data() {
    return {
      items: {},
      // authorList: [],
  }
  },
  mounted() {
    // fetch("http://127.0.0.117:8080/sorted_book")
    //     .then((response) => response.json())
    //     .then((data) => {
    //       this.items = data;
    //     })
  },
}


</script>

<style scoped>
#statsContent{
  overflow: auto;
}

</style>